* {
    padding: 0;
    margin: 0;
}

html {

}

body {
    background: #FFF url('../img/bg.svgz') left bottom no-repeat;
    background-size: 55%;
    background-attachment: fixed;
}

h1 {
    color: #E40101;
    font-family: Helvetica;
    font-size: 3em;
    text-shadow: 0 1px 2px #333;
}

p {
    color: #333;
    font-family: Helvetica;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 22px;
}

a {
    color: #E40101;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

a:hover {
    color: #990000;
    border-bottom: 1px solid rgba(255,255,255,1);
}

#monogram {
    width: 50px;
    padding: 5px 20px 0 50px;
    margin: 50px auto 0 0;
    background: #E40101;
    box-shadow: 1px 4px 5px #999;
}

#about, #footer {
    width: 360px;
    padding: 0 0 0 150px;
    margin: 20px 150px 0 auto !important;
}

#footer {
    font-size: 3em;
    text-shadow: 0 1px 2px #999;
}

#footer a {
    text-decoration: none;
    border: 0;
    float: left;
    display: block;
    margin-right: 10px;
}

#footer span {
    pointer-events: none;
}

@media (max-width: 767px) {
    body {
        background-image: none;
        background: transparent;
    }

    body:after {
        content: '';
        background: #FFF url('../img/bg.svgz') left bottom no-repeat;
        position: fixed;
        opacity: 0.3;
        height: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }

    #about, #footer {
        position: relative;
        width: auto;
        padding: 20px;
        margin: 0 !important;
    }

    #footer {
        font-size: 2.4em;
    }
}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.svg#icomoon') format('svg'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'icomoon';
    font-style: normal;
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-twitter:before {
    content: "\e000";
}
.icon-facebook:before {
    content: "\e001";
}
.icon-gplus:before {
    content: "\e002";
}
.icon-github:before {
    content: "\e003";
}
.icon-linkedin:before {
    content: "\e004";
}
.icon-dribbble:before {
    content: "\e005";
}