* {
    padding: 0;
    margin: 0;
}

html {
  font-family: 'Open Sans', helvetica, sans-serif;
}

body {
    background: #FFF url('../img/bg.svgz') left bottom no-repeat;
    background-size: 55%;
    background-attachment: fixed;
}

h1 {
    color: #E40101;
    font-family: 'Bree Serif', serif;
    font-size: 3em;
    text-shadow: 0 1px 2px rgba(139, 103, 103, 0.5);
    line-height: 1.5;
}

p {
    color: #666;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

a {
    color: #E40101;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.3);

    -webkit-transition: color 0.3s ease-out;
            transition: color 0.3s ease-out;

}

a:hover {
    color: #990000;
    border-bottom: 1px solid rgba(255,255,255,1);
}

#about {
  opacity: 0;
  -webkit-transform: translateY(-2rem);
      -ms-transform: translateY(-2rem);
          transform: translateY(-2rem);

  -webkit-transition: opacity 0.3s ease-out,
                      -webkit-transform 0.3s ease-out;

          transition: opacity 0.3s ease-out,
                      transform 0.3s ease-out;
}

#about.active {
  opacity: 1;

  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

#monogram {
    width: 50px;
    padding: 5px 20px 0 50px;
    margin: 50px auto 0 0;
    background: #E40101;
    box-shadow: 0 4px 10px -2px #999;
    opacity: 0;
    -webkit-transform: translateY(-2rem);
        -ms-transform: translateY(-2rem);
            transform: translateY(-2rem);

    -webkit-transition: opacity 0.3s ease-out,
                        -webkit-transform 0.3s ease-out;

            transition: opacity 0.3s ease-out,
                        transform 0.3s ease-out;
}

#monogram.active {
  opacity: 1;

  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

#about, #footer {
    width: 360px;
    padding: 0 0 0 150px;
    margin: 20px 150px 0 auto !important;
}

#footer {
    font-size: 3em;
    text-shadow: 0 1px 2px #999;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
            transition: opacity 0.3s ease-out;
}

#footer.active {
  opacity: 1;
}

#footer a {
    text-decoration: none;
    border: 0;
    float: left;
    display: block;
    margin-right: 10px;

    -webkit-transform: translateY(-4rem);
        -ms-transform: translateY(-4rem);
            transform: translateY(-4rem);
}

#footer a:first-child {
  -webkit-transition: -webkit-transform 0.1s ease-out,
                      color 0.3s ease-out;
          transition: transform 0.1s ease-out,
                      color 0.3s ease-out;
}

#footer a:nth-child(2) {
  -webkit-transition: -webkit-transform 0.2s ease-out,
                      color 0.3s ease-out;
          transition: transform 0.2s ease-out,
                      color 0.3s ease-out;
}

#footer a:nth-child(3) {
  -webkit-transition: -webkit-transform 0.3s ease-out,
                              color 0.3s ease-out;
                  transition: transform 0.3s ease-out,
                              color 0.3s ease-out;
}

#footer a:nth-child(4) {
  -webkit-transition: -webkit-transform 0.4s ease-out,
                      color 0.3s ease-out;
          transition: transform 0.4s ease-out,
                      color 0.3s ease-out;
}

#footer a:nth-child(5) {
  -webkit-transition: -webkit-transform 0.5s ease-out,
                      color 0.3s ease-out;
          transition: transform 0.5s ease-out,
                      color 0.3s ease-out;
}

#footer.active a {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

#footer a:first-child {
  margin-left: 1rem;
}

#footer span {
    pointer-events: none;
}

@media (max-width: 767px) {
    body {
        background-image: none;
        background: transparent;
    }

    body:after {
        content: '';
        background: #FFF url('../img/bg.svgz') left bottom no-repeat;
        position: fixed;
        opacity: 0.3;
        height: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;

        -webkit-transition: opacity 0.3s ease-out;
                transition: opacity 0.3s ease-out;
    }

    body.active:after {
      opacity: 0.05;
    }

    #about, #footer {
        position: relative;
        width: auto;
        padding: 20px;
        margin: 0 !important;
    }

    #footer {
        /*font-size: 2.4em;*/
        margin-bottom: 5rem !important;
    }
}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.svg#icomoon') format('svg'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'icomoon';
    font-style: normal;
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-twitter:before {
    content: "\e000";
}
.icon-facebook:before {
    content: "\e001";
}
.icon-gplus:before {
    content: "\e002";
}
.icon-github:before {
    content: "\e003";
}
.icon-linkedin:before {
    content: "\e004";
}
.icon-dribbble:before {
    content: "\e005";
}
